
footer {
  font-weight: 300;
  font-size: small;
  text-align: center;
  opacity: 70%;
}
footer p {margin: 0;}

/* ----------  MOBILE PORTRAIT --------- */
@media (min-width: 320px) and (max-width: 480px) {

  /* ----------  ARTICLES --------- */
  

  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 4rem 0 4rem 0;
  }

  .address_container {
    margin-bottom: 4rem;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }

}
/* ----------  MOBILE LANDSCAPE --------- */
@media (min-width: 481px) and (max-width: 767px) {
  
  .address_container {
    margin: 0 5px 1.5rem 5px;
    width: 48%;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
  }
}
/* ----------  TABLET --------- */
@media (min-width: 768px) and (max-width: 1024px) {

  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 5rem 0 5rem 0;
    font-size: 2.5rem;
  }

  .address_container {
    margin-bottom: 4rem;
    width: 40%;
    margin-right: 3rem;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
    margin-left: 20vw;
  }
}
/* ----------  DESKTOP / LAPTOP --------- */
@media (min-width: 1025px) and (max-width: 1280px) {

  /* ----------  ARTICLES --------- */

  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 5rem 0 5rem 0;
    font-size: 2.5rem;
  }

  .address_container {
    margin-bottom: 4rem;
    width: 40%;
    margin-right: 3rem;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
    margin-left: 20vw;
  }

  .contact_article_header {
    margin: 4rem 0 3rem 0;
    font-weight: 500;
    font-size: 2.5rem;
  }
  
}
/* ----------  DESKTOP AND ABOVE--------- */
@media (min-width: 1281px) {
  

  /* ----------  ARTICLES --------- */

  .address_container {
    margin-bottom: 4rem;
    width: 40%;
    margin-right: 3rem;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
    margin-left: 20vw;
  }
}
