@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

h1, h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
  font-family: 'Noto Sans JP', sans-serif;
  color: #261D03;
}
.image_source {
  font-size: x-small;
  opacity: 80%;
  margin-top: -1px;
}
/* ----------  NAVBAR --------- */
#navigation_bar {
  background-color: #0b0b0b;
  height: auto;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

#navigation_bar li {
  list-style-type: none;
  display: inline;
}

/* ----------  BACKGROUND IMAGE --------- */
.index_background_container {
  background-image: url("/images/clem-onojeghuo-9AEh9i-WPhI-unsplash.jpg");
  /* Image source: url<https://unsplash.com/photos/9AEh9i-WPhI>, Photo by Clem Onojeghuo on Unsplash  */
}
.about_background_container {
  background-image: url("/images/nathan-dumlao-KixfBEdyp64-unsplash.jpg");
    /* Image source: url<https://unsplash.com/photos/KixfBEdyp64 >, Photo by Nathan Dumlao on Unsplash  */
}
.contact_background_container {
  background-image: url("/images/brooke-cagle-8jp-6SjVibM-unsplash.jpg");
    /* Image source: url<https://unsplash.com/photos/8jp-6SjVibM>, Photo by Brooke Cagle on Unsplash  */
}
.locations_background_container {
  background-image: url("/images/vladimir-proskurovskiy-he7QnLQRB9g-unsplash.jpg");
    /* Image source: url<https://unsplash.com/photos/he7QnLQRB9g>, Photo by Vladimir Proskurovskiy on Unsplash  */
}

footer {
  font-weight: 300;
  font-size: small;
  text-align: center;
  opacity: 70%;
}
footer p {margin: 0;}

/* ----------  MOBILE PORTRAIT --------- */
@media (min-width: 320px) and (max-width: 480px) {

  html, body {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* ---------- LOGO --------- */
  .logo_container_mobile_devices {
    width: 100%;
    height: 3.5rem;
    background: #0b0b0b;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo_container_mobile_devices img {
    max-height: 3rem;
  }

  #navigation_bar img {
    visibility: collapse;
    height: 0;
  }
  
  /* ---------- NAVBAR --------- */
  #navigation_bar ul {
    width: 100%;
    padding: 0;
    display: inline-block;
  }
  #navigation_bar li a {
    color: #f5f5f5;
    font-size: 16px;
    font-family: Helvetica;
    text-decoration: none;
    padding: 5px 1% 10px 1%; 
  }
  .on_this_page a {
    border-bottom: 3px solid #f5f5f5;
    font-weight: bold;
  }

  /* ----------  BACKGROUND IMAGE --------- */
  .index_background_container, .about_background_container, .contact_background_container, .locations_background_container {
    background-position: center center;
    position: relative;
    height: 350px;
  }
  .index_background_text {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-weight: 500;
    margin: 10vh 10vw 10vh 10vw;
  }
  .pages_background_text {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin: 15vh 10vw 15vh 10vw;
  }

  /* ----------  ARTICLES --------- */
  .header_text {
    text-align: center;
    margin-top: 10vh;
    color: #261D03;
    font-size: 3rem;
  }
  .keywords {
    margin: 0 10vw 0 10vw;
    padding-bottom: 5vh;
    text-align: center;
    border-bottom: 1px solid #261D03;
  }
  .article_header {
    margin: 10vh 0 3vh 0;
  }
  main {
    margin: 0 5vw 5vh 5vw;
  }
  .odd_section, .even_section {
    margin-top: 5vh;
  }
  .odd_section p {
    margin-bottom: 5vh;
  }
  .odd_section h2, .even_section h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 20vh 0 10vh;
  }
  .odd_section img, .even_section img {
    max-width: 100%;
  }

  .about_article_header {
    font-weight: 500;
    font-size: 2rem;
  }
  .about_section {
    margin: 5rem 0 5rem 0;
  }
  .about_article img {
    width: 100%;
  }

  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 4rem 0 4rem 0;
  }

  .address_container {
    margin-bottom: 4rem;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }

  .contact_article_header {
    text-align: center;
    margin: 4rem 0 3rem 0;
    font-weight: 500;
  }
  .form_foretext {
    padding-bottom: 2rem;
  }
  .contact_form_section {
    text-align: center;
  }
  .contact_form_section ul {
    padding: 0;
  }
  .contact_form_section li {
    list-style-type: none;
    margin-top: 3px;
  }
  input {
    font-family: 'Noto Sans JP', sans-serif;
    width: 90vw;
    height: 2rem;
  }
  textarea {
    width: 90vw;
    height: 12rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
  button {
    width: 30vw;
    height: 5vh;
    color: #f5f5f5;
    background: rgb(85, 92, 179);
    border: 0;
  }

  .contact_detail_section {
    margin: 15vh 0 15vh 0;
  }
  .contact_detail_section h2 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 5vh;
  }
  .contact_detail_section p {
    margin-top: -10px;
  }

  .main_footer {
    margin-top: 10vh;
  }

}
/* ----------  MOBILE LANDSCAPE --------- */
@media (min-width: 481px) and (max-width: 767px) {
  
  html, body {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* ---------- LOGO --------- */
  .logo_container_mobile_devices {
    width: 100%;
    height: 3.5rem;
    background: #0b0b0b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo_container_mobile_devices img {
    max-height: 3rem;
  }
  #navigation_bar img {
    visibility: collapse;
    height: 0;
  }
  
  /* ---------- NAVBAR --------- */
  #navigation_bar ul {
    width: 100%;
    padding: 0;
    display: inline-block;
  }
  #navigation_bar li a {
    color: #f5f5f5;
    font-size: 16px;
    font-family: Helvetica;
    text-decoration: none;
    padding: 5px 0 10px 0;
    margin: 3% 3%;
  }
  .on_this_page a {
    border-bottom: 3px solid #f5f5f5;
    font-weight: bold;
  }

  /* ----------  BACKGROUND IMAGE --------- */
  .index_background_container, .about_background_container, .contact_background_container, .locations_background_container {
    background-position: center center;
    position: relative;
    height: 350px;
  }
  .index_background_text {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-weight: 500;
    margin: 10vh 15vw 10vh 15vw;
  }
  .pages_background_text {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin: 15vh 10vw 15vh 10vw;
  }
  
  /* ----------  ARTICLES --------- */
  .header_text {
    text-align: center;
    margin-top: 10vh;
    color: #261D03;
    font-size: 3rem;
  }
  .keywords {
    margin: 0 15vw 0 15vw;
    padding-bottom: 5vh;
    text-align: center;
    border-bottom: 1px solid #261D03;
  }
  .article_header {
    margin: 10vh 0 3vh 0;
  }
  main {
    margin: 0 10vw 5vh 10vw;
  }
  .odd_section, .even_section {
    margin-top: 5vh;
  }
  .odd_section p {
    margin-bottom: 5vh;
  }
  .odd_section h2, .even_section h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 20vh 0 10vh;
  }
  .odd_section img, .even_section img {
    max-width: 100%;
  }

  .about_article_header {
    font-weight: 500;
    font-size: 2rem;
  }
  .about_section {
    margin: 5rem 0 5rem 0;
  }
  .about_article img {
    width: 100%;
  }

  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 4rem 0 4rem 0;
  }

  .address_container {
    margin: 0 5px 1.5rem 5px;
    width: 48%;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
  }

  .contact_article_content {
    margin-bottom: 15vh;
  }
  .contact_article_header {
    text-align: center;
    margin: 4rem 0 3rem 0;
    font-weight: 500;
  }
  .form_foretext {
    padding: 0 10vw 2rem 10vw;
  }
  .contact_form_section {
    text-align: center;
  }
  .contact_form_section ul {
    padding: 0;
  }
  .contact_form_section li {
    list-style-type: none;
    margin-top: 3px;
  }
  input {
    font-family: 'Noto Sans JP', sans-serif;
    width: 70vw;
    height: 2rem;
  }
  textarea {
    width: 70vw;
    height: 12rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
  button {
    width: 30vw;
    height: 5vh;
    color: #f5f5f5;
    background: rgb(85, 92, 179);
    border: 0;
  }

  .contact_detail_section {
    margin: 15vh 0 0 10vw;
  }
  .contact_detail_section h2 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 5vh;
  }
  .contact_detail_section p {
    margin-top: -10px;
  }

  .main_footer {
    margin-top: 10vh;
  }
}
/* ----------  TABLET --------- */
@media (min-width: 768px) and (max-width: 1024px) {
  
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* ---------- LOGO --------- */
  .logo_container_mobile_devices, .logo_container_mobile_devices img {
    visibility: collapse;
    height: 0;
  }

  #navigation_bar img {
    height: 3rem;
    margin-bottom: -10px;
    padding: 0 2% 0 2%;
  }
  
  /* ---------- NAVBAR --------- */
  #navigation_bar ul {
    width: 100%;
    padding: 0;
    display: inline-block;
  }

  #navigation_bar li a {
    color: #f5f5f5;
    font-size: 18px;
    font-family: Helvetica;
    text-decoration: none;
    padding: 5px 0 10px 0;
    margin: 3% 1% 3% 1%;
  }

  .on_this_page a {
    border-bottom: 5px solid #f5f5f5;
    font-weight: bold;
  }

  /* ----------  BACKGROUND IMAGE --------- */
  .index_background_container, .about_background_container, .contact_background_container, .locations_background_container {
    background-position: center center;
    position: relative;
    height: 400px;
  }
  .index_background_text {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-weight: 500;
    margin: 15vh 20vw 15vh 20vw;
  }
  .pages_background_text {
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
    margin: 20vh 10vw 20vh 10vw;
  }
  
  /* ----------  ARTICLES --------- */
  .header_text {
    text-align: center;
    margin-top: 10vh;
    color: #261D03;
    font-size: 3rem;
  }
  .keywords {
    margin: 0 25vw 0 25vw;
    padding-bottom: 8vh;
    text-align: center;
    border-bottom: 1px solid #261D03;
  }
  .article_header {
    margin: 15vh 0 10vh 0;
    font-size: 3rem;
  }
  main {
    margin: 0 5vw 5vh 5vw;
  }
  .odd_section, .even_section {
    margin-top: 5vh;
    overflow: hidden;
  }
  .odd_section p {
    margin-bottom: 5vh;
  }
  .odd_section h2, .even_section h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
  }
  .odd_text_container p {
    margin-right: 2rem; 
  }
  .odd_section img, .even_section img {
    max-width: 100%;
  }
  .odd_section_img_container {
    width: 50%;
    float: left;
  }
  .even_section_img_container {
    width: 50%;
    float: right;
  }
  .odd_text_container {
    width: 50%;
    float: left;
    padding-top: 15vh;
  }
  .even_text_container {
    width: 50%;
    float: right;
    padding-top: 15vh;
  }

  .about_article_header {
    font-weight: 500;
    font-size: 2rem;
  }
  .about_article {
    margin: 2rem 15vw 5rem 15vw;
  }
  .about_section {
    margin: 5rem 0 5rem 0;
  }
  .about_article img {
    width: 100%;
  }

  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 5rem 0 5rem 0;
    font-size: 2.5rem;
  }

  .address_container {
    margin-bottom: 4rem;
    width: 40%;
    margin-right: 3rem;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
    margin-left: 20vw;
  }

  .contact_article_content {
    margin-bottom: 15vh;
  }
  .contact_article_header {
    text-align: center;
    margin: 4rem 0 3rem 0;
    font-weight: 500;
  }
  .form_foretext {
    padding: 0 15vw 2rem 15vw;
  }
  .contact_form_section {
    text-align: center;
  }
  .contact_form_section ul {
    padding: 0;
  }
  .contact_form_section li {
    list-style-type: none;
    margin-top: 3px;
  }
  input {
    font-family: 'Noto Sans JP', sans-serif;
    width: 60vw;
    height: 2rem;
  }
  textarea {
    width: 60vw;
    height: 12rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
  button {
    width: 30vw;
    height: 5vh;
    color: #f5f5f5;
    background: rgb(85, 92, 179);
    border: 0;
  }

  .contact_detail_section {
    margin: 15vh 0 0 15vw;
  }
  .contact_detail_section h2 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 5vh;
  }
  .contact_detail_section p {
    margin-top: -10px;
  }

  .main_footer {
    margin-top: 10vh;
  }

}
/* ----------  DESKTOP / LAPTOP --------- */
@media (min-width: 1025px) and (max-width: 1280px) {
  
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* ---------- LOGO --------- */
  .logo_container_mobile_devices, .logo_container_mobile_devices img {
    visibility: collapse;
    height: 0;
  }

  #navigation_bar img {
    height: 4rem;
    margin-bottom: -15px;
    padding: 0 2% 0 2%;
  }
  
  /* ---------- NAVBAR --------- */
  #navigation_bar ul {
    width: 100%;
    padding: 0;
    display: inline-block;
  }

  #navigation_bar li a {
    color: #f5f5f5;
    font-size: 18px;
    font-family: Helvetica;
    text-decoration: none;
    padding: 5px 0 10px 0;
    margin: 3% 1% 3% 1%;
  }

  #navigation_bar li a:hover {
    border-bottom: 5px solid #f5f5f5;
  }

  .on_this_page a {
    border-bottom: 5px solid #f5f5f5;
    font-weight: bold;
  }

  /* ----------  BACKGROUND IMAGE --------- */
  .index_background_container, .about_background_container, .contact_background_container, .locations_background_container {
    background-position: center center;
    position: relative;
    height: 400px;
  }
  .index_background_text {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin: 10vh 25vw 10vh 25vw;
  }
  .pages_background_text {
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    margin: 16vh 10vw 16vh 10vw;
  }

  /* ----------  ARTICLES --------- */
  .header_text {
    text-align: center;
    margin-top: 10vh;
    color: #261D03;
    font-size: 3rem;
  }
  .keywords {
    margin: 0 30vw 0 30vw;
    padding-bottom: 8vh;
    text-align: center;
    border-bottom: 1px solid #261D03;
  }
  .article_header {
    margin: 15vh 0 10vh 0;
    font-size: 3rem;
  }
  main {
    margin: 0 10vw 5vh 10vw;
  }
  .odd_section, .even_section {
    margin-top: 5vh;
    overflow: hidden;
  }
  .odd_section h2, .even_section h2 {
    text-align: center;
    font-weight: 300;
    font-size: 3.5rem;
  }
  .odd_text_container p {
    margin-right: 2rem; 
  }
  .odd_section img, .even_section img {
    max-width: 100%;
  }
  .odd_section_img_container {
    width: 50%;
    float: left;
  }
  .even_section_img_container {
    width: 50%;
    float: right;
  }
  .odd_text_container {
    width: 50%;
    float: left;
    padding-top: 18vh;
    font-size: 1.3rem;
  }
  .even_text_container {
    width: 50%;
    float: right;
    padding-top: 18vh;
  }

  .about_article_header {
    font-weight: 500;
    font-size: 2.5rem;
  }
  .about_article {
    margin: 2rem 20vw 5rem 20vw;
  }
  .about_section {
    margin: 5rem 0 5rem 0;
  }
  .about_article img {
    width: 100%;
  }

  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 5rem 0 5rem 0;
    font-size: 2.5rem;
  }

  .address_container {
    margin-bottom: 4rem;
    width: 40%;
    margin-right: 3rem;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
    margin-left: 20vw;
  }

  .contact_article_header {
    margin: 4rem 0 3rem 0;
    font-weight: 500;
    font-size: 2.5rem;
  }

  .contact_article_content {
    margin-bottom: 15vh;
  }
  .contact_form_section {
    text-align: center;
    width: 40vw;
    float:left; 
    display: inline;
  }
  .contact_form_section ul {
    padding: 0;
  }
  .contact_form_section li {
    list-style-type: none;
    margin-top: 3px;
  }
  input {
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    height: 2rem;
  }
  textarea {
    width: 100%;
    height: 12rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
  button {
    width: 20vw;
    height: 5vh;
    color: #f5f5f5;
    background: rgb(85, 92, 179);
    border: 0;
  }

  .contact_detail_section {
    margin-left: 15vw;
    width: 30%;
    float: left;
    display: inline;
  }
  .contact_detail_section h2 {
    font-weight: 500;
    font-size: 20px;
  }
  .contact_detail_section p {
    margin-top: -10px;
    margin-bottom: 5vh;
  }

  .main_footer {
    margin-top: 10vh;
  }
  
}
/* ----------  DESKTOP AND ABOVE--------- */
@media (min-width: 1281px) {
  
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* ---------- LOGO --------- */
  .logo_container_mobile_devices, .logo_container_mobile_devices img {
    visibility: collapse;
    height: 0;
  }

  #navigation_bar img {
    height: 4rem;
    margin-bottom: -15px;
    padding: 0 2% 0 2%;
  }
  
  /* ---------- NAVBAR --------- */
  #navigation_bar ul {
    width: 100%;
    padding: 0;
    height: 8vh;
    display: inline-block;
  }

  #navigation_bar li a {
    color: #f5f5f5;
    font-size: 18px;
    font-family: Helvetica;
    text-decoration: none;
    padding: 5px 0 10px 0;
    margin: 3% 1% 3% 1%;
  }

  #navigation_bar li a:hover {
    border-bottom: 5px solid #f5f5f5;
  }

  .on_this_page a {
    border-bottom: 5px solid #f5f5f5;
    font-weight: bold;
  }

  /* ----------  BACKGROUND IMAGE --------- */
  .index_background_container, .about_background_container, .contact_background_container, .locations_background_container {
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  .index_background_text {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin: 10vh 30vw 10vh 30vw;
  }
  .pages_background_text {
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    margin: 16vh 10vw 16vh 10vw;
  }

  /* ----------  ARTICLES --------- */
  .header_text {
    text-align: center;
    margin-top: 10vh;
    color: #261D03;
    font-size: 3rem;
  }
  .keywords {
    margin: 0 30vw 0 30vw;
    padding-bottom: 8vh;
    text-align: center;
    border-bottom: 1px solid #261D03;
  }
  .article_header {
    margin: 15vh 0 15vh 0;
    font-size: 3rem;
  }
  main {
    margin: 0 12vw 5vh 12vw;
  }
  .odd_section, .even_section {
    margin-top: 8vh;
    overflow: hidden;
  }
  .odd_section h2, .even_section h2 {
    text-align: center;
    font-weight: 300;
    font-size: 3.5rem;
  }
  .odd_text_container p {
    margin-right: 2rem; 
  }
  .odd_section img, .even_section img {
    max-width: 100%;
  }
  .odd_section_img_container {
    width: 50%;
    float: left;
  }
  .even_section_img_container {
    width: 50%;
    float: right;
  }
  .odd_text_container {
    width: 50%;
    float: left;
    padding-top: 20vh;
    font-size: 1.3rem;
  }
  .even_text_container {
    width: 50%;
    float: right;
    padding-top: 20vh;
  }

  .about_article_header {
    font-weight: 500;
    font-size: 2.5rem;
  }
  .about_article {
    margin: 2rem 22vw 5rem 22vw;
  }
  .about_section {
    margin: 5rem 0 5rem 0;
  }
  .about_article img {
    width: 100%;
  }
  
  .location_article_header {
    text-align: center;
    color: #261D03;
    margin: 5rem 0 5rem 0;
    font-size: 2.5rem;
  }

  .address_container {
    margin-bottom: 4rem;
    width: 40%;
    margin-right: 3rem;
    float: left;
  }
  .address_container h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .address_container p {
    margin-top: -15px;
  }
  .location_odd_section, .location_even_section {
    overflow: hidden;
    margin-left: 20vw;
  }

  .contact_article_header {
    margin: 4rem 0 3rem 0;
    font-weight: 500;
    font-size: 2.5rem;
  }
  .contact_article_content {
    margin: 0 10vw 15vh 10vw;
  }
  .contact_form_section {
    text-align: center;
    width: 35vw;
    float:left; 
    display: inline;
  }
  .contact_form_section ul {
    padding: 0;
  }
  .contact_form_section li {
    list-style-type: none;
    margin-top: 3px;
  }
  input {
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    height: 2rem;
  }
  textarea {
    width: 100%;
    height: 12rem;
    font-family: 'Noto Sans JP', sans-serif;
  }
  button {
    width: 20vw;
    height: 5vh;
    color: #f5f5f5;
    background: rgb(85, 92, 179);
    border: 0;
  }

  .contact_detail_section {
    margin-left: 15vw;
    width: 30%;
    float: left;
    display: inline;
  }
  .contact_detail_section h2 {
    font-weight: 500;
    font-size: 20px;
  }
  .contact_detail_section p {
    margin-top: -10px;
    margin-bottom: 5vh;
  }

  .main_footer {
    margin-top: 10vh;
  }

}
