/* ####### HEADER ######### */
.about__header {
  background-image: url('../images/nathan-dumlao-KixfBEdyp64-unsplash.jpg');
    /* Image source: url<https://unsplash.com/photos/KixfBEdyp64 >, Photo by Nathan Dumlao on Unsplash  */
}

.about__header h1 {
  font-weight: 600;
  font-size: 5rem;
  text-align: center;
}

.about__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__main h2 {
  font-weight: 500;
  font-size: 2.5rem;
}
.about__section {
  margin: 3rem 0;
}
.about__main img {
  width: 100%;
  height: auto;
}

.about__section,
.about__imageContainer {
  width: 55vw;
  max-width: 800px;
}

@media (max-width: 833px) {
  .about__header h1 {
    font-size: 4rem;
    text-align: center;
  }
  .about__section,
  .about__imageContainer {
    width: 75vw;
  }
}

@media (max-width: 480px) {
  .about__section {
    margin: 2rem 0;
  }
  .about__section,
  .about__imageContainer {
    width: 85vw;
  }
}