/* ####### HEADER ######### */
.contact__header {
  background-image: url("../images/brooke-cagle-8jp-6SjVibM-unsplash.jpg");
    /* Image source: url<https://unsplash.com/photos/8jp-6SjVibM>, Photo by Brooke Cagle on Unsplash  */
}

.headers {
  background-position: center top;
}

.contact__header h1 {
  font-weight: 600;
  font-size: 5rem;
}

.contact__formHeader {
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 5vw;
}
.contact__main {
  display: flex;
  justify-content: center;
}

.contact_formContainer,
.contact_formContainer form {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.contact_formContainer label {
  font-size: 12px;
  opacity: 0.7;
}
.contact_formContainer form input {
  height: 30px;
  margin-bottom: 5px;
}
.contact_formContainer form textarea {
  height: 200px;
}
.contact_formContainer form button {
  height: 40px;
  margin-top: 20px;
  border: none;
  color: white;
  font-size: 18px;
  background-color: #555cb3;
  cursor: pointer;
}

.contact__detailsContainer {
  width: 40vw;
  margin-left: 10vw;
}

@media (max-width: 768px) {
  .contact__formHeader {
    margin-left: 10vw;
  }
  .contact__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact_formContainer,
  .contact_formContainer form {
    width: 80vw;
  }
  .contact__detailsContainer {
    width: 80vw;
    margin: 50px 0;
  }
}

@media (max-width: 480px) {
  .contact_formContainer,
  .contact_formContainer form,
  .contact__detailsContainer {
    width: 90vw;
  }
}