@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

h1, h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
  font-family: 'Noto Sans JP', sans-serif;
  color: #261D03;
}
.image_source {
  font-size: x-small;
  opacity: 80%;
  margin-top: -1px;
}

#nav {
  background-color: #0b0b0b;
  height: auto;
  width: 100%;
  text-align: center;
  flex-direction: column;
}
#nav li {
  list-style-type: none;
  display: inline;
}


/* ---------- NAVBAR --------- */
  .nav__logoMobile {
    display: none;
  }

  #nav img {
    height: 4rem;
    margin-bottom: -15px;
    padding: 0 2vw 0 2vw;
  }
  
  #nav ul {
    width: 100%;
    padding: 0;
    height: 8vh;
    display: inline-block;
  }

  #nav li a {
    color: #f5f5f5;
    font-size: 18px;
    font-family: Helvetica;
    text-decoration: none;
    padding: 5px 0 10px 0;
    margin: 3vh 1vw;
  }

  #nav li a:hover {
    border-bottom: 5px solid #f5f5f5;
  }

  .on_this_page a {
    border-bottom: 5px solid #f5f5f5;
    font-weight: bold;
  }

  @media (max-width: 767px) {
    #nav img {
        display: none;
    }

    #nav ul {
        margin-bottom: -15px;
    }

    .nav__logoMobile {
    width: 100%;
    height: 3.5rem;
    background: #0b0b0b;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
    }
    .nav__logoMobile img {
    max-height: 3rem;
    }
  }